<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-accordion fxFlex="500px" fxFlex.xs="100%">

      <div class="descriptions" fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex="100%" class="text-color"><strong>Description: </strong> {{user?.description}}</div>
      </div>

      <div class="descriptions" fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex="100%" class="text-color"><strong>Skills: </strong> {{user?.skills}}</div>
      </div>

      <div class="descriptions" fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex="100%" class="text-color"><strong>Experience: </strong> {{user?.experience}}</div>
      </div>

  </mat-accordion>
</section>
